/* font-family: 'La Belle Aurore', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Thasadith', sans-serif; */
html {
    font-size: 16px;
    background-color: #D4EDFE;
    font-family: 'Nunito', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    margin: 0;
    height: 100%;
    width: 100%;
}
h1, h2, h3, h4, h5, p, span {
    margin: 0;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}

/* //////// HEADER //////// */
header {
    position: fixed;
    z-index: 100;
    background-color: #d4edfea3;
    height: 5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
}
#top-nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top-nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#top-nav .dropdown {
    display: none;
    position: absolute;
    overflow: auto;
    margin-top: 8rem;
}
#top-nav .menu:hover .dropdown {
    display: inline-block;
    background-color: #d4edfe4b;
    padding-right: 1rem;
}
#top-nav .dropdown li {
    list-style-type: none;
}
#top-nav .dropdown a {
    text-decoration: none;
    color: black;
}
#top-nav .dropdown a:hover {
    color: #366280;
}
#top-nav .icon {
    height: 2rem;
}
#top-nav .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
#top-nav .logo {
    font-family: 'Poiret One', cursive;
    font-size: 1.25rem;
}

/* //////// MAIN CONTENT //////// */
#main-content {
    position: relative;
    margin-top: 5rem;
    flex: 1;
    overflow: auto;
}

/* //////// JOIN SECTION //////// */
#join-section {
    display: flex;
    justify-content: center;
}
#join-section .container {
    background-image: url(./img/background1_trees-crop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    height: 50rem;
    width: 95%;
}
#join-section .join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 50rem;
    padding-top: 16rem;
    gap: 1rem;
}
#join-section .join button {
    width: 10%;
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-size: 0.95rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightgray;
}
#join-section .join button:hover {
    background-color: #366280;
    color: white;
    border-color: rgb(167, 167, 167);
}

/* //////// COMMUNITY SECTION //////// */
#community-section {
    padding: 5% 10%;
}
#community-section .container {
    display: flex;
    align-items: center;
    gap: 3rem;
}
#community-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 250%;
    text-align: center;  
}
#community-section .text h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
}
#community-section .text h2 {
    font-size: 2.1rem;
    font-style: italic;
}
#community-section .text p {
    font-size: 1.2rem;
}
#community-section .image-container {
    text-align: center;
    height: 100%;
}
#community-section .image-container img {
    width: 100%;
    border-radius: 1rem;
}

/* //////// POSTIT SECTION //////// */
#postit-section {
    width: 100%;
}
#postit-section .container {
    background-image: url(./img/mindfulness.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* //////// ABOUT SECTION //////// */
#about-section .container {
    padding: 5% 20%;
}
#about-section .text h3 {
    font-weight: 300;
}

/* //////// MEDITATE SECTION //////// */
#meditate-section {
    width: 100%;
}
#meditate-section .container {
    padding: 0 2rem 6rem 2rem;
    display: flex;
    gap: 1rem;
}
#meditate-section .image {
    display: flex;
}
#meditate-section .container img {
    border-radius: 0.5rem;
    width: 100%;
}